/*Global*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#selector {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
}

#selector2 {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
}


.nav_images {
  width: 25px;
}

.nav_items {
  padding: 0.4% 0.5% 0.4% 0.5%;
  white-space: nowrap;
  color: black;
  font-size: 14px;
}

.nav_items:hover {
  background-color: #a2d687;
  color: black;
  text-decoration: none;
  border-radius: 25px;
}

.active {
	background-color: #a2d687;
	color: #000000;
  border-radius: 25px;
}

@media (min-width:1200px) {
  #map {
    float: left;
    height: 100%;
    width: 30%;
    left: 22%;
  }
}

@media (max-width:1200px) {
  #map {
    float: left;
    height: 100%;
    width: 30%;
    left: 27%;
  }
}

@media (min-width:1200px) {
  #containerr {
    float: right;
    width: 48%;
    height: 100%;
    padding-top: 97px;
  }
}

@media (max-width:1200px) {
  #containerr {
    float: right;
    width: 43%;
    height: 100%;
    padding-top: 97px;
  }
}

#containerr .map {
  width: 100%;
  height: 50%;
}

#containerr #mapA {
  border-bottom: black 1px solid;
}

div .time_heading1, .time_heading2 {
  font-size: 30px;
  padding-top: 40px;
  left: 0;
  position: absolute;
  z-index: 1000;
}

div .details {
  font-size: 16px;
  padding-left: 5px;
  left: 3px;
  position: absolute;
  z-index: 1000;
  width: 11em;
  border-radius: 9px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  top: 10px;
  background-color: #f1f1f1;
}

@media all and (max-width:30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

.mid {
  text-align: center;
}

.start {
  text-align: left;
}


.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: none !important;
}

.row:after {
  clear: both;
}



div.section_container {
  padding: 0px 20px 0px 70px;
  width: 40%;
  float: left;
}

div.orientationpage_heading {
  margin-top: 150px;
}








nav ul {
  margin-top: 5.5vh;
}

header nav {
  margin-top: 0px;
}

/* anchors */
li>a {
  text-transform: capitalize;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

li>a:hover, a:focus {
  background-color: #d4dadc;
  color: #fff;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 25px;
}

li.active>a {
  background-color: #a2d687;
  color: #000000;
  border-radius: 25px;
}

/*Main containers*/
div.col-xs-12 {
  position: fixed;
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  height: 100%;
  z-index: 0;
}

/*Side panel*/
@media (min-width:1200px) {
  div#panel_2 {
    position: fixed;
    width: 22%;
    background-color: #fafafa;
    opacity: 0.92;
    -webkit-transition: width 0.6s;
    transition: width 0.6s;
    border: 1px solid black;
    z-index: 1029;
  }
}

@media (max-width:1200px) {
  div#panel_2 {
    position: fixed;
    width: 27%;
    background-color: #fafafa;
    -webkit-transition: width 0.6s;
    transition: width 0.6s;
    z-index: 1029;
    border: 1px solid black;
  }
}

div#panelContent {
  opacity: 1;
  height: inherit;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

div#collapseBtn {
  right: 0px;
  margin-top: 7px;
  font-weight: bold;
  position: absolute;
  z-index: 1000;
}

div#collapseBtn button {
  background-color: #ffffff;
  opacity: 0.5;
  height: 30px;
  width: 30px;
  margin-top: 6px;
  border: none;
}

div .nav-link {
  width: 100%;
  background-color: #1B6B36;
  right: 0px;
}


div #selector_menu {
  position: relative;
  padding-left: 15px;
  display: -webkit-inline-box;
}

select #selector {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

div #selector_menu2 {
  display: -webkit-inline-box;
  position: relative;
  right: 13px;
  padding-left: 17px;
}

select #selector2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

@media (max-width:1365px) {
  .refresh {
    left: 10%;
    width: 9em;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    font-size: 14px;
  }
}

@media (min-width:1366px) {
  .refresh {
    left: 7%;
    width: 9em;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    font-size: 15px;
  }
}

.refresh:hover {
  background-color: white;
}

div #containers {
  font-size: 14px;
}

div #container1 {
  top: 50px;
  position: relative;
  left: 0px;
  margin-left: 21px;
}

@media (min-width:1366px) {
  div #container22 {
    position: relative;
  }
}

@media (max-width:1365px) {
  div #container22 {
    position: relative;
  }
}

.leaflet-top.leaflet-right.container {
  width: 116% !important;
}

@media (max-width:1365px) {
  .leaflet-control-layers-expanded {
    padding: 6px 10px 6px -1px;
    color: #333;
    width: 91% !important;
  }
}

@media (min-width:1366px) {
  .leaflet-control-layers-expanded {
    padding: 6px 10px 6px -1px;
    color: #333;
    width: 95% !important;
  }
}

div #container2 {
  top: 13vh;
  position: relative;
}

div #container3 {
  position: relative;
  top: 9vh;
  right: 10px;
  width: 100%;
  padding-left: 20px;
}

div #container3 h5 {
  font-size: 20px;
  margin-left: 7px;
  padding-bottom: 5px;
}

div #container3 h6 {
  padding-left: 2px;
  padding-bottom: 5px;
}

div #input_values {
  padding-bottom: 12px;
  text-align: center;
}

div .logo a {
  margin-left: 0px;
  position: absolute;
  bottom: 0;
  z-index: 100000;
  left: 0;
}

img.gecko {
  width: 100px;
}

div#panelContent {
  opacity: 1;
  height: inherit;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/*Responsivity*/
@media all and (max-width: 768px) {
  div#panel {
    width: 0px;
  }

  div#panelContent {
    opacity: 0;
  }
}

@media all and (max-width: 768px) {
  .ol-zoom {
    top: initial;
    right: 8px;
    bottom: 6px;
    left: auto;
    /* needed to avoid the background-color of the ol zoom control spanning from the left side of the screen */
  }
}

.ol-scale-line {
  right: 40px;
  left: auto;
}

/* legends */
.legend {
  line-height: 18px;
  color: #000000;
  font-size: 16px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

@media (max-width:1365px) {
  .landlegend {
    width: 59%;
    position: relative;
  }
}

@media (min-width:1366px) {
  .landlegend {
    height: 17em;
    right: 5%;
    bottom: 30em;
    width: 83%;
    position: relative;
  }
}


.legend_gvtc {
  position: absolute;
  top: 11%;
  z-index: 1000;
  width: 100%;
}

.gvtc_legend {
  position: relative;
  width: 49%;
}

@media (min-width:1200px) {
  .legend_gvtc2 {
    position: absolute;
    bottom: 24px;
    z-index: 1000;
  }
}

@media (max-width:1365px) {
  .legend_gvtc2 {
    position: absolute;
    bottom: -5px;
    z-index: 1000;
  }
}

@media (min-width:1366px) {
  .gvtc_legend2 {
    position: relative;
    width: 60%;
  }
}

@media (max-width:1365px) {
  .gvtc_legend2 {
    position: relative;
    width: 59%;
  }
}

@media (min-width:1366px) {
  #info {
    width: 20px;
    position: relative;
    left: 17.3em;
    top: 1.5em;
  }
}

@media (max-width:1365px) {
  #info {
    width: 20px;
    position: relative;
    left: 15.5em;
    top: 1.5em;
  }
}

.tooltip_map {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  z-index: 1000000;
  width: 12%;
  height: 30%;
}

@media (min-width:1366px) {
  .tooltip_map .tooltiptext {
    visibility: hidden;
    width: 24em;
    background-color: #2d7746;
    color: #fff;
    text-align: center;
    border-radius: 11px;
    padding: 9px 9px;
    position: absolute;
    z-index: 1;
  }
}

@media (max-width:1365px) {
  .tooltip_map .tooltiptext {
    visibility: hidden;
    width: 24em;
    background-color: #2d7746;
    color: #fff;
    text-align: center;
    border-radius: 11px;
    padding: 9px 9px;
    position: absolute;
    z-index: 1;
  }
}

.tooltip_map:hover .tooltiptext {
  visibility: visible;
}

@media (min-width:1366px) {
  #info2 {
    width: 20px;
    position: relative;
    left: 16.5em;
        top: 3.3em;
        }
}

@media (max-width:1365px) {
  #info2 {
    width: 20px;
    position: relative;
    left: 15em;
    top: 3em;
  }
}

.tooltip_map2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  z-index: 1000000;
  width: 1px;
}

@media (min-width:1366px) {
  .tooltip_map2 .tooltiptext2 {
    visibility: hidden;
    width: 24em;
    background-color: #2d7746;
    color: #fff;
    text-align: center;
    border-radius: 11px;
    padding: 9px 9px;
    position: relative;
    z-index: 1;
    left: 19em;
    top: 3em;
  }
}

@media (max-width:1365px) {
  .tooltip_map2 .tooltiptext2 {
    visibility: hidden;
    width: 24em;
    background-color: #2d7746;
    color: #fff;
    text-align: center;
    border-radius: 11px;
    padding: 9px 9px;
    position: relative;
    z-index: 1;
    left: 17.5em;
    top: 4.5em;
  }
}

.tooltip_map2:hover .tooltiptext2 {
  visibility: visible;
}
