
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*Header*/
nav .navigation_dashbord {
  color: black;
  border-bottom: black 4px solid;
  position: fixed;
  background-color: yellow;
  min-height: 15vh;
  width: 100%;
  margin-top: 0px;
  top: -15px;

}

.header_dashboard{
  padding: 0px 20px 0px 5px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: #dfe8e4 4px solid;
  min-height: 15vh;
}

.navigation_dashboard a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav .branding img{
  width: 100px;
  height:100px;
  float: left;
  top: 0px;
}

nav a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li > a:hover{
  background-color: #d4dadc;
  color: #fff;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 25px;
}

li.active > a {
background-color: #a2d687;
color: #000000;
padding-left: 1px;
padding-right: 1px;
border-radius: 25px;
}

div.section_container{
  padding: 0px 20px 0px 70px;
  width: 40%;
  float: left;
}

div.orientationpage_heading{
   margin-top: 150px;
}

div.orientationpage_heading h3{
  font: 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1B6B36;
  font-weight: bold;
}

.nav_images {
  width: 25px;
}

.nav_items {
  padding: 0.4% 0.5% 0.4% 0.5%;
  white-space: nowrap;
  color: black;
}

.nav_items:hover {
  background-color: #a2d687;
  color: black;
  text-decoration: none;
  border-radius: 25px;
}

.active {
	background-color: #a2d687;
	color: #000000;
  border-radius: 25px;
}


/*Main containers*/
div.col-xs-12{
  position: fixed;
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  height: 100%;
}

/*Side panel*/
@media (min-width:1200px){
div#panel_d {
  position: fixed;
  width: 22%;
  background-color: #fafafa;
  opacity: 0.92;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  border: 1px solid black;
}
}

@media (max-width:1200px){
div#panel_d {
  position: fixed;
  top: 12.5%;
  height: 100%;
  width: 25%;
  background-color: #fafafa;
  opacity: 0.92;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  border: 1px solid black;
}
}

div#panelContent {
  opacity: 1;
  height: inherit;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

div .nav-link_d{
  width: 100%;
  position: absolute;
  background-color: #1B6B36;
  right: 0px;
}

div .nav-link_d p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size:24px;
  padding-left: 10px;
  width: 100%;
  margin-top: 8px;
}

div #selector_menu{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: 70px;
  right:5px;
  padding-left: 17px;
  font-size: 14px;
}

select #selector{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

div #input_values{
  padding-bottom: 12px;
  text-align: center;
}

div .logo a{
  margin-left: 0px;
  position: absolute;
  bottom: 0;
  z-index: 100000;
  left: 0;
}

img.gecko{
 width: 100px;
}

div#panelContent {
  opacity: 1;
  height: inherit;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  padding-left: 0px;
  padding-right: 0px;
}

/*Responsivity*/
@media all and (max-width: 768px) {
  div#panel_d {
    width: 0px;
  }

  div#panelContent {
    opacity: 0;
  }
}

@media all and (max-width: 768px) {
  .ol-zoom {
    top: initial;
    right: 8px;
    bottom: 6px;
    left: auto;
  }
}

.ol-scale-line {
  right: 40px;
  left: auto;
} */

/* charts */
.col-md-10{
  background-color: grey;
  border-radius: 6px;
  width: 10%;
}

.container.box canvas{
    position: absolute;
    top: 0;
    left: 0;
}


.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.columns {
  float: left;
  display: block;
  margin-bottom: 0px;
  padding: 0 0px;
  background: red;
}

.columns.three {
  width: 25%;
}

/* charts */
@media (min-width: 1200px) {
  #chart_container {
      max-width: 77%;
      padding-top: 105px;
      margin-right: 0px;
      margin-left: 23%;
    }
  }
  
@media (max-width: 1200px) {
  #chart_container {
    max-width: 73%;
    padding-top: 105px;
    margin-right: 0px;
    margin-left: 26%;
  }
}

@media (min-width: 1200px) {
  #arrests_chart_container {
    padding-top: 105px;
    }
  }
  
@media (max-width: 1200px) {
  #arrests_chart_container {
    padding-top: 105px;
  }
}