/* sidebar */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.sidebar {
  top: 100px;
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #ffffff;
  font-size: 0.65em;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #nav{
    background-position: center;
    background-size: cover;
    background-image: url("images/gvtc_nav.jpg");
    width: 100vw;
    height: 10vh;
  }

/* nav-bar */
.logout {
  width: 50px;
  height: auto;
  padding-top: 10px;
  padding-right: 10px;
  border: 1px solid #000000;
  padding: 10px 10px;
  border-radius: 10px;
}

/* date picker */
.Button {
background-color:#BEBEBE;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border:1px solid #BEBEBE;
display:inline-block;
cursor:pointer;
color: black;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size:15px;
padding:5px 5px;
text-decoration:none;
text-shadow:0px 0px 0px #BEBEBE;
}

.datepicker{
  position: relative;
    border:1px solid lightgray;
}

input {
    border:0;
}

label {
color : gray;
}

p {
  color: #000000;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  font-weight: 500;
  height: 28px;
  line-height: 28.8px;
  margin-block-end: 12px;
  margin-block-start: 0px;
  margin-bottom: 12px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
  width: 692.656px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* side bar */
.dropdown-toggle {
  color: rgb(33, 37, 41);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 500;
  height: 28px;
  line-height: 28.8px;
  margin-block-end: 12px;
  margin-block-start: 0px;
  margin-bottom: 12px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
  width: 692.656px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-link:hover{
  background-color: rgba(255, 255, 255, 0.23);
}

#pageSubmenu{
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

.collapsible {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  line-height: 28.8px;
}

/* images */
.location {
  width: 30px;
  height: auto;
  padding-right: 5px;
}

.info {
  width: 30px;
  height: auto;
  padding-right: 5px;
}

.footer{
  padding-bottom: 175px;
}
